<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['profile']" routerLinkActive="router-link-active" >Profile</a>
            </li>
            <li class="nav-item active">
                <a [class]="!user.approved ? 'nav-link' : 'nav-link disabled'" [routerLink]="['order']" routerLinkActive="router-link-active" >New order</a>
            </li>
            <li class="nav-item active">
                <a [class]="!user.approved ? 'nav-link' : 'nav-link disabled'" [routerLink]="['order']" routerLinkActive="router-link-active" >Active order</a>
            </li>
            <li class="nav-item active">
                <a [class]="!user.approved ? 'nav-link' : 'nav-link disabled'" [routerLink]="['history']" routerLinkActive="router-link-active">History</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['logout']" routerLinkActive="router-link-active">Log out</a>
            </li>
        </ul>
    </div>
</nav>
<router-outlet>
</router-outlet>
